<!doctype html>

<html>
<head>
	<title>HCI Project Portfolio</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
  
  	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/introHCI.js"></script>
	<!-- Google Analytics -->
	<script>
		(function (i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date(); a = s.createElement(o),
				m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
		})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-190072974-1', 'auto');
		ga('send', 'pageview');
	</script>
	<!-- End Google Analytics -->
</head>

<body>
	
	<div class="container">
		<div class="jumbotron">
			<h1>Michael Bernstein</h1>
			<p>human-computer interaction &middot; social computing &middot; crowdsourcing</p>
		</div>
		{{#if viewAlt}}
			Min!<button class="likeBtn">Like</button>
		{{else}}
		<h4>Projects</h4>
		
			{{#each projects}}

				<div class="project" id="{{id}}">
					<div class="thumbnail">
						<a href="/project/{{id}}">
							<img src="images/{{image}}" alt="Lorem Pixel image" class="img-responsive">
							<h4>{{title}}</h4>
						</a>
						<div class="likeCtr"><button class="btn btn-default likeBtn">Like</button></div>
						<div class="details"></div>
					</div>
				</div>
			{{/each}}
		{{/if}}
	</div>
</body>
</html>
